doctype html
html
    head
        title= Catalog
        meta(name="Description", content="Category: Products Catalog, Manufacturer:  Turbo International")
    body
        script(type="application/ld+json") #{snippet}
        h1 Catalog
        table
            tbody
                each part in parts
                    tr
                        td Part - #{part.sku}
                        td
                            a(href="#{part.url}") Click here

